.input-box {
    display: flex;
    flex-direction: column;
    gap: 8px;

}

.input-box input,
.input-box textarea {
    width: 300px;
    border: none;
    outline: none;
    background: #f6f6f6;
    padding: 10px 20px;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}

.input-box input:focus,
.input-box textarea:focus {
    border: 1px solid #ccc;
}

@media screen and (max-width : 992px) {

    .ContactUs .contact-info-container .form-box .input-box input,
    .ContactUs .contact-info-container .form-box .input-box textarea {
        width: 220px;
    }
}