.card {
    background: #fafafa;
    padding: 24px;
    border-radius: 16px;
    width: 360px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
}

.card:hover {
    transform: scale(1.02);
}

.card img {
    max-width: 100%;
    border-radius: 8px;
}

.card-body {
    padding: 24px 0;
    border-bottom: 1px solid #ededed;
}

.prise-box {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.prise-box .type {
    background: #fbd9cf;
    padding: 8px 16px;
    border-radius: 6px;
    font-weight: 600;
}

.prise-box .prise {
    font-size: 1.3rem;
    font-weight: 800;
    color: var(--primary-color);
}

.card-text.location {
    margin: 24px 0;
    font-size: 1.2rem;
    font-weight: 800;
}

.details-box {
    display: flex;
    flex-wrap: wrap;
    gap: 8px 32px;
    /* gap between rows and columns */
}

.details-box p {
    text-transform: capitalize;
    color: rgb(131, 131, 131);
    font-weight: 500;
}

.details-box p span {
    color: #000;
    font-weight: 700;
}

.footer {
    display: flex;
    justify-content: center;
    padding-top: 24px;
}