/* Global Styles */
:root {
    --primary-color: #ff6347;
    /* Adjust to your primary color */
    --secondary-color: #f8f9fa;
    /* Adjust to your secondary color */
    --font-color: #333;
    --body-color: #fff;
}

/* properties page */
.properties-page .btns-container,
.properties-page .pagination-container {
    padding: 2rem;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    align-items: center;
    justify-content: center;
}

.properties-page .pagination-container ul {
    display: flex;
    gap: 0.5rem;
    padding: 0;
    list-style: none;
}

.properties-page .pagination-container ul li {
    background: var(--font-color);
    color: var(--body-color);
    padding: 10px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    text-align: center;
    cursor: pointer;
    transition: background 0.3s ease-in-out;
}

.properties-page .pagination-container ul li:hover {
    background: var(--primary-color);
}

/* Property Details page */
.PropertyDetails-page .container {
    display: flex;
    flex-direction: row-reverse;
    align-items: start;
    justify-content: center;
    padding: 2rem 4rem;
}

.PropertyDetails-page .container p a {
    text-decoration: none;
    color: var(--primary-color);
}

.PropertyDetails-page .container .accordion {
    width: 100%;
}

.PropertyDetails-page .box-container {
    margin-top: 5.4rem;
    min-width: 340px;
    box-shadow: 0 2px 16px rgba(0, 0, 0, 0.18);
    border-radius: 16px;
    background: var(--secondary-color);
}

.PropertyDetails-page .box-container .boxes {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 20px 40px;
}

.PropertyDetails-page .box-container .boxes .info-box {
    border-bottom: 1px solid #ebebeb;
    margin: 16px 0;
}

.PropertyDetails-page .box-container .boxes .info-box:last-child {
    border-bottom: none;
}

.PropertyDetails-page .Card,
.PropertyDetails-page .Card img {
    background: none;
    width: 100%;
    padding: 0;
    border-radius: 0;
}

.PropertyDetails-page .Card .details-box,
.PropertyDetails-page .Card .footer {
    display: none;
}

.Card .body {
    height: fit-content;
}

.PropertyDetails-page .BestDeal {
    margin-top: 2rem;
}

/* Contact Us page */
.contactUs-page .container {
    padding: 5rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 4rem;
    align-items: center;
    justify-content: center;
}

.contactUs-page .form-container {
    display: flex;
    gap: 4rem;
}

.contactUs-page .form-container p {
    margin-block: 16px;
}

.contactUs-page .form-container form input,
.contactUs-page .form-container form textarea {
    width: 460px;
    padding: 12px;
    border: 1px solid #ced4da;
    border-radius: 5px;
    transition: border 0.3s;
}

.contactUs-page .form-container form input:focus,
.contactUs-page .form-container form textarea:focus {
    border: 1px solid var(--primary-color);
    outline: none;
}

.contactUs-page .form-container .info-boxes {
    display: flex;
    flex-direction: column;
    gap: 32px;
    margin-top: 2rem;
}

.contactUs-page .form-container .info-boxes .info-box {
    box-shadow: 0 2px 16px rgba(0, 0, 0, 0.22);
    padding: 32px 64px;
    width: 380px;
    border-radius: 8px;
    background: var(--secondary-color);
}

.contactUs-page iframe {
    width: 100%;
    height: 500px;
    border-radius: 16px;
}

/* Media queries */
@media screen and (max-width: 992px) {

    /* Properties page */
    .properties-page .btns-container {
        gap: 1rem;
    }

    /* Property Details page */
    .PropertyDetails-page .container {
        flex-wrap: wrap;
        padding: 2rem;
    }

    .PropertyDetails-page .box-container {
        margin-top: 2rem;
        min-width: 0;
    }

    .PropertyDetails-page .Card,
    .PropertyDetails-page .Card img {
        padding: 0;
    }

    /* Contact Us page */
    .contactUs-page .container {
        padding: 1rem;
        gap: 4rem;
    }

    .contactUs-page .form-container {
        flex-wrap: wrap;
    }

    .contactUs-page .form-container form input,
    .contactUs-page .form-container form textarea {
        width: 100%;
    }

    .contactUs-page .form-container .info-boxes .info-box {
        padding: 16px 32px;
        width: 100%;
    }
}