.featured {
    height: 100vh;
    /* Consider adjusting this for better responsiveness */
    padding: 8rem;
    display: flex;
    justify-content: center;
    gap: 32px;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
}

.image-container {
    max-width: fit-content;
    position: relative;
}

.icon-box {
    position: absolute;
    z-index: 20;
    bottom: 60px;
    left: -60px;
    background: var(--primary-color);
    border-radius: 50%;
    width: 120px;
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.image-container img {
    max-width: 300px;
}

.text-container span::before {
    content: '| ';
}

.text-container span {
    color: var(--secondary-color);
    font-weight: 700;
    text-transform: uppercase;
    font-size: 1.1rem;
}

.text-container h3 {
    font-size: 2rem;
    max-width: 240px;
    margin-top: 16px;
}

.box-container {
    box-shadow: 1px 2px 16px rgba(0, 0, 0, 0.18);
    border-radius: 16px;
}

.box-container .boxes {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 20px 40px;
}

.box-container .boxes .info-box {
    border-bottom: 1px solid #ebebeb;
}

.box-container .boxes .info-box:last-child {
    border-bottom: none;
    /* Using :last-child instead of :nth-child */
    padding-bottom: 0;
}

@media screen and (max-width: 992px) {
    .featured {
        height: auto;
        /* Changed for better responsiveness */
        padding-block: 8rem;
    }

    .icon-box {
        bottom: -20px;
        left: -20px;
    }

    .text-container {
        margin-top: 32px;
    }

    .box-container .boxes {
        width: 100%;
        /* Changed to make it responsive */
        max-width: 300px;
        /* Max width for smaller screens */
    }
}