nav {
    background: var(--body-color);
    display: flex;
    flex-direction: column;
    padding-top: 16px !important;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    width: 100%;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    /* تحسين تأثير الظل */
}

nav .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar-brand {
    font-size: 1.8rem;
    /* حجم الخط لعلامة العلامة التجارية */
    color: var(--primary-color);
    /* استخدام لون أساسي لعلامة العلامة التجارية */
    font-weight: bold;
    /* جعل العلامة التجارية غامقة */
    text-transform: uppercase;
    /* تحويل النص إلى أحرف كبيرة */
}

.navbar-toggler {
    border: none;
    /* إزالة الحدود من الزر */
}

.navbar-nav {
    display: flex;
    flex-direction: row;
    gap: 30px;
    /* تباعد بين العناصر */
}

.nav-item {
    position: relative;
    /* لتسهيل تصميم العناصر النشطة */
}

.nav-link {
    text-transform: capitalize;
    color: var(--font-color);
    transition: color 0.3s ease;
    /* تأثير انتقال لطيف عند تغيير اللون */
}

.nav-link:hover,
.nav-link.active {
    color: var(--primary-color);
    /* تغيير اللون عند التمرير أو عند كون العنصر نشطًا */
    border-bottom: 2px solid var(--primary-color);
    /* إضافة خط سفلي للعناصر النشطة */
}

@media screen and (max-width: 992px) {
    nav .navbar-nav {
        display: none;
        /* إخفاء القائمة في الشاشات الصغيرة */
    }

    .navbar-toggler {
        display: block;
        /* عرض زر التبديل */
    }
}

.nav-mobile {
    width: 95vw;
    padding: 16px;
    background: var(--body-color);
    position: fixed;
    top: 100px;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    /* إضافة ظل لتأثير العمق */
}

.nav-mobile.show {
    display: block;
    /* عرض القائمة المتنقلة */
}

.nav-mobile.hidden {
    display: none;
    /* إخفاء القائمة المتنقلة */
}