.contact-us {
    padding: 3rem 0;
    position: relative;
    height: 160vh;
    /* Consider changing to a more responsive unit */
}

.text-container {
    text-align: center;
}

.image-container img {
    width: 100%;
    object-fit: cover;
}

.text-container h3 {
    color: var(--body-color);
    max-width: 280px;
    margin: 0 auto;
    /* Center the heading */
}

.contact-info-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 4rem;
    gap: 32px;
}

.map-box {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact-info-container iframe {
    width: 100%;
    /* Make it responsive */
    max-width: 600px;
    height: 450px;
    border-radius: 16px;
    border: none;
    /* Added for better appearance */
}

.info-boxes {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 2rem;
    gap: 32px;
}

.info-box {
    box-shadow: 1px 2px 16px rgba(0, 0, 0, 0.22);
    padding: 32px;
    border-radius: 8px;
    transition: transform 0.3s;
}

.info-box:hover {
    transform: scale(1.02);
}

@media screen and (max-width: 992px) {
    .contact-us {
        height: auto;
        /* Changed for better responsiveness */
    }

    .image-container img {
        height: 40vh;
        /* This can also be adjusted based on design */
    }

    .contact-info-container iframe {
        width: 100%;
        /* Make it responsive */
        max-width: 300px;
        height: 300px;
    }

    .info-box {
        width: 100%;
        padding: 24px 32px;
        margin-inline: 0;
        /* Remove margin for smaller screens */
    }
}