.accordion {
    background: #fafafa;
    width: 100%;
    max-width: 420px;
    margin-top: 3rem;
    border-radius: 1rem;
    padding: 1rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    /* تحسين الظل لإعطاء عمق */
}

.accordion-item {
    border-bottom: 1px solid #ebebeb;
}

.accordion-item:last-child {
    border-bottom: none;
    /* إزالة الخط السفلي من العنصر الأخير */
}

.accordion-title {
    font-weight: 600;
    padding: 1rem;
    cursor: pointer;
    background-color: #fff;
    border-radius: 0.5rem;
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

.accordion-title:hover {
    background-color: #f8f8f8;
    /* تحسين التفاعل عند المرور */
}

.accordion-item.active .accordion-title {
    font-weight: 700;
    color: #f35525;
}

.accordion-content {
    font-weight: 500;
    padding: 1rem;
    display: none;
    background-color: #fff;
    border-radius: 0.5rem;
}

.accordion-item.active .accordion-content {
    display: block;
}

.accordion-content a {
    text-decoration: none;
    color: #2579fd;
}

.accordion-content code {
    font-family: "Courier New", monospace;
    color: #d63384;
    background-color: #f8f9fa;
    padding: 0.25rem 0.5rem;
    border-radius: 0.25rem;
    /* تحسين مظهر الكود */
}

@media screen and (max-width: 992px) {
    .accordion {
        max-width: 300px;
    }
}

@media screen and (max-width: 576px) {
    .accordion {
        max-width: 100%;
        padding: 0.5rem;
    }

    .accordion-title,
    .accordion-content {
        padding: 0.75rem;
    }
}